.porcentagem {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #2e2c2c;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
    margin-left: 30%;
    transition: box-shadow 0.3s ease-in-out;
}

.porcentagem:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.porcentagem .skill-box {
    width: 100%;
    margin: 25px 0;
}

.hard-skill h2 {
    margin-left: 42%;
    color: #fff;
}

.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #f9004d;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.html {
    width: 100%;
    animation-delay: 0.1s;
}

.skill-per.css {
    width: 95%;
    animation-delay: 0.1s;
}

.skill-per.bootstrap {
    width: 95%;
    animation-delay: 0.1s;
}

.skill-per.javascript {
    width: 50%;
    animation-delay: 0.2s;
}

.skill-per.jquery {
    width: 70%;
    animation-delay: 0.2s;
}

.skill-per.nodejs {
    width: 30%;
    animation-delay: 0.3s;
}

.skill-per.php {
    width: 90%;
    animation-delay: 0.3s;
}

.skill-per.mysql {
    width: 70%;
    animation-delay: 0.3s;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}